@import url(//db.onlinewebfonts.com/c/116d187134420de5733c7c45bbc80c46?family=LuloCleanW01-One);
@import url(//db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=LuloCleanW01-OneBold);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Questrial, sans-serif;
    background: url('images/b96f01_ebe16b641c9e45cd92cac91266375a7f_mv2.webp');
    width: 100vw;
}

#container{
    width: 974px;
    margin: auto;
}

.banner1{
    background-color: rgb(77, 98, 119);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.25em;
    /* font-weight: lighter; */
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navitem{
    padding: 4em 0;
}

.navitem a{
    text-transform: uppercase;
    text-decoration: none;
    color: #d16e43;
    font-weight: 600;
    font-size: small;
}

.navitem a:hover{
    color: rgb(67, 155, 49);
    transition-duration: 0.5s;
}

.subtn{
    padding: 4em 0;
}

.subtn a{
    color: #d16e43;
    text-decoration: none;
    border: 3px solid #d16e43;
    border-radius: 2em;
    padding: 0.2em 1em;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    font-family: LuloCleanW01-One, sans-serif;
}

.subtn a:hover{
    color: white;
    border: 3px solid black;
    background-color: black;
    transition-duration: 0.6s;
}

.site_content{
    background: rgb(255,255,255,.5);
    height: auto;
}

#intro{
    height: 750px;
}

#introdp{
    width: 974px;
    height: 684px;
    background-image: url(images/maxresdefault.webp);
    background-size: contain;
    position: absolute;
}

#introtxt{
    position: relative;
    left: 344px;
    text-align: center;
    text-transform: uppercase;
    margin: 99px 0px 25px 0px;
    font-size: 48px;
    letter-spacing: 0.1em;
    color: #c74e1a;
    width: 684px;
    height: auto;
    font-family: LuloCleanW01-OneBold, sans-serif;
}

.intro2{
    background: url(images/11062b_d01cf48782824880a5b8f3229886f9f8_mv2_d_3000_1688_s_2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 400px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0px;
}

.intro2 h2{
    padding-top: 3em;
    font-size: 36px;
    letter-spacing: 0.05em;
    font-family: LuloCleanW01-OneBold, sans-serif;
    font-weight: 800;
}

.intro2 p{
    font-size: 16px;
    width: 70%;
    margin: auto;
}

.divider{
    margin: auto;
    margin-top: 15px;
    margin-bottom: 26px;
    background: #fff;
    width: 44px;
    height: 5px;
}


.learnbtn{
    margin-top: 70px;
}

.learnbtn a{
    color: #fff;
    text-decoration: none;
    border: 3px solid #fff;
    border-radius: 2em;
    padding: 0.2em 1.8em;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    font-family: sans-serif;
    padding: 5px 25px;
}

.learnbtn a:hover{
    color: white;
    border: 3px solid rgb(45, 66, 41);
    background-color: rgb(45, 66, 41);
    transition-duration: 0.5s;
}

.disc{
    margin-top: 500px;
}

.disc h2{
    font-size: 48px;
    letter-spacing: 0.05em;
    font-family: LuloCleanW01-OneBold, sans-serif;
    font-weight: 800;
    color: #6b2f24;
    text-align: center;
    margin-bottom: 52px;
}

.card{
    display: flex;
    flex-direction: row;
}

.txt{
    /* border: 2px solid red; */
    width: 50%;
    padding-right: 100px;
    padding-left: 50px;
    text-align: right;
}

.txt h3{
    font-size: 22px;
    letter-spacing: 0.05em;
    font-family: LuloCleanW01-OneBold, sans-serif;
    font-weight: 800;
    color: #d16e43;
    margin: 80px 0px 40px 0px;
}

.txt p{
    line-height: 1.8em;
    font-size: 16px;
    color: rgb(75, 75, 75);
    margin: 0px 0px 47px 0px;
}

.right{
    text-align: left;
}

.card a{
    color: #d16e43;
    text-decoration: none;
    border: 3px solid #d16e43;
    padding: 0.5em 1.2em;
    border-radius: 2em;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    font-family:  sans-serif;
    margin-left: 108px;
}

.card a:hover{
    color: white;
    border: 3px solid black;
    background-color: black;
    transition-duration: 0.6s;
}
.media{
    /* border: 2px solid green; */
    /* width: 50%; */
    padding: 20px;
    width: 50%;

}

.basepic{
    margin-left: 75px;
    height: 550px;
}

#ftline{
    width: 970px;
    height: 1px;
    background: #000;
    margin-top: 70px;
    margin-bottom: 50px;
}

.ftcontent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.ftcard{
    width: 30%;
}

.fthead{
    color: #6B2F24;
    font-size: 16px;
    margin-bottom: 69px;
    text-transform: uppercase;
    font-family: LuloCleanW01-OneBold, sans-serif;
}

.ftbody ul{
    list-style: none;
    font-family: LuloCleanW01-One, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.ftbody li{
    margin-bottom: 8px;
    text-transform: uppercase;
}

.shade{
    margin-top: 30px;
    margin-bottom: 30px;
    background: rgb(255,255,255,.5);
    /* width: 100%; */
}

.info {
    margin: 10px; 
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.para{
    width: 50%;
    padding: 15px;
}

.info h3{
    font-size: 22px;
    letter-spacing: 0.05em;
    font-family: LuloCleanW01-OneBold, sans-serif;
    font-weight: 800;
    color: #d16e43;
    margin-bottom: 26px;
}

.info p{
    line-height: 1.8em;
    font-size: 16px;
    color: rgb(75, 75, 75);
    text-align: justify;
}

.credit{
    font-size: 13px;
    text-align: center;
    margin-bottom: 10px;
}

.pamp{
    background-color: rgb(255,255,255,.4);
    display: flex;
    flex-direction: row;
}

.ptxt h3{
    font-size: 36px;
    letter-spacing: 0.05em;
    font-family: LuloCleanW01-OneBold, sans-serif;
    font-weight: 800;
    color: #6b2f24;
    text-align: center;
    margin: 28px;
}

.ptxt p{
    line-height: 1.6em;
    font-size: 16px;
    color: rgb(75, 75, 75);
    padding: 28px;
    text-align: justify;
}

.pics{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-content: center;
    flex-wrap: wrap;
}

.pics img{
    margin: 5px;
}