/* ==============================
BOX MODEL
============================== */

/* Different types of borders and Paddings */



/* Height & Width */
div {
  height: 100px;
  width: 300px;
}

/* Line height */
p {
  line-height: 1.4;
}

/* ==============================
BACKGROUND
============================== */

/* Defines background colour */
div {
  /* Colour by Names */
  background-color: blue;
  /* Colour by HexCodes */
  background-color: #3ea47f;
  /* Colour by rgb */
  background-color: rgb(67,129,82);
  /* Colour by rgb with Opacity */
  background-color: rgba(67,129,82,75%);
}
